<template>
  <v-ons-page>
    <tool-bar :option="{ menu: true, title: 'Appointment', notification: false, back: false }" />
    <div class="blank-page-container">
      APPOINTMENT PAGE
    </div>
  </v-ons-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import utils from '../assets/utils'
import ToolBar from '~/components/ToolBar'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
export default {
  components: {
    ToolBar,
    Title,
    Button
  },
  data: function() {
    return {}
  },
  computed: {
    ...mapGetters({
      getWallet: 'wallet/getWallet',
      getAppState: 'chat/getAppState',
      isUIReady: 'chat/isUIReady'
    })
  }
}
</script>
<style>
</style>
