<template>
  <v-ons-page>
    <tool-bar :option="{ menu: true, title: 'Home', notification: false, back: false }" />
    <div class="blank-page-container">HOME PAGE</div>
  </v-ons-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import utils from '../assets/utils'
import ToolBar from '~/components/ToolBar'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
export default {
  components: {
    ToolBar,
    Title,
    Button
  },
  data: function() {
    return {}
  }
}
</script>
<style lang="scss">
.blank-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 22px;
  color: #196fd2;
  font-weight: bold;
}
</style>
