<template>
  <div class="medical-credit">
    <div class="header">
      <h2>Medical Credits</h2>
      <div class="active-tag">Active</div>
    </div>
    <p class="balance-label">Balance</p>
    <h1 v-if="getProfile">MMK {{ getProfile.creditBalance }}</h1>
    <p class="valid-date">Valid: 1 Jan 2019 - 31 Dec 2019</p>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import utils from '../assets/utils'
import ToolBar from '~/components/ToolBar'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
export default {
  components: {
    ToolBar,
    Title,
    Button
  },
  data: function() {
    return {}
  },
  computed: {
    ...mapGetters({
      getProfile: 'employee/getProfile'
    })
  }
}
</script>
<style lang="scss">
.medical-credit {
  background: linear-gradient(180deg, #f33a9d 0%, #fbdded 100%);
  padding: 10px;
  width: 300px;
  height: 180px;
  padding: 10px 15px;
  width: 260px;
  height: 155px;
  margin: 20px auto;
  border-radius: 20px;
  position: relative;
  top: -185px;
  box-shadow: 0px 2px 5px #989898;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #fff;
      font-weight: 400;
      margin: 10px 0px;
      font-size: 18px;
    }
    .active-tag {
      background: lightblue;
      border-radius: 15px;
      color: rgb(29, 77, 235);
      font-size: 12px;
      width: 60px;
      height: 25px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
  .balance-label {
    margin: 0px;
    font-size: 13px;
  }
  h1 {
    margin: 0px 0px 20px 0px;
    font-weight: 700;
    font-size: 24px;
  }
  .valid-date {
    font-size: 13px;
  }
}
</style>
