<template>
  <div class="overview-container">
    <div class="main-info" v-if="getAccount && getProfile">
      <p>{{ getProfile.fullName }}</p>
      <p>{{ identityCardNumber }}</p>
    </div>
    <div class="detail-info" v-if="getAccount && getProfile">
      <p>Company: {{ getProfile.companyName }}</p>
      <p>Member ID: {{ memberId }}</p>
      <p>Membership Plan: Premium Care Pro</p>
      <p>Validity Date: 1 Jan 2019 to 31 Jan 2019</p>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
export default {
  data: function() {
    return {}
  },
  computed: {
    ...mapGetters({
      getAccount: 'employee/getAccount',
      getProfile: 'employee/getProfile'
    }),
    memberId() {
      return this.getAccount.userId.slice(0, 6)
    },
    identityCardNumber() {
      return this.getAccount.userId.slice(7, 14)
    }
  }
}
</script>
<style lang="scss">
.overview-container {
  font-size: 13px;
  margin: 0 10px;
  p {
    margin: 0px;
  }
  .main-info {
    font-weight: 700;
    color: #196fd2;
    margin-bottom: 10px;
  }
}
</style>
