<template>
  <v-ons-toolbar>
    <div class="left">
      <v-ons-icon
        icon="ion-ios-arrow-back"
        size="lg"
        @click="redirect(option.backUrl || '/')"
        v-if="option.back"
      ></v-ons-icon>
    </div>
    <div class="center" v-if="option.title">{{ option.title }}</div>
    <div class="right">
      <button v-if="option.notification" @click="redirect()">
        <v-ons-icon icon="ion-ios-notifications-outline" size="lg"></v-ons-icon>
      </button>
      <button v-if="option.menu" @click="toggleSetting">
        <v-ons-icon icon="ion-ios-menu" size="lg"></v-ons-icon>
      </button>
    </div>

    <v-ons-modal :visible="settingVisible" id="setting-modal">
      <button class="close-setting-button">
        <v-ons-icon icon="ion-ios-close" size="lg" @click="toggleSetting" v-if="option.menu"></v-ons-icon>
      </button>
      <div class="setting-container">
        <h1 class="setting-title">Settings</h1>
        <ul>
          <li>General</li>
          <li>Advanced</li>
          <li @click="onSignOut">Sign Out</li>
        </ul>
      </div>
    </v-ons-modal>
  </v-ons-toolbar>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import utils from '../assets/utils'
import Title from '~/components/baisc/Title'

export default {
  components: { Title },
  props: {
    option: {
      type: Object,
      default: {
        notification: false,
        profile: false,
        back: false,
        menu: false,
        backUrl: '/',
        addFriend: null
      }
    }
  },
  data: function() {
    return {
      settingVisible: false
    }
  },
  computed: {},
  methods: {
    ...mapActions({
      removeAccount: 'employee/removeAccount'
    }),
    redirect(url = '/') {
      this.$router.push(url)
    },
    toggleSetting() {
      this.settingVisible = !this.settingVisible
    },
    onSignOut() {
      this.removeAccount()
      localStorage.removeItem('account')
      this.$router.push('/signin')
    }
  }
}
</script>
<style lang="scss">
$mainColor: #196fd2;
$textColor: #fdfdfd;
$bgColor: #196fd2cc;
.toolbar__title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}
.toolbar {
  background: $mainColor;
  color: #fff;
  margin-bottom: 15px;
  height: 75px;
  -webkit-box-align: center;
  align-items: flex-start;
  padding: 20px 20px;
}
.toolbar__right {
  margin-right: 20px;
  button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
  .add-friend-button {
    background: transparent;
    box-shadow: none;
    font-size: 18px;
    color: $mainColor;
  }
  .ion-ios-notifications-outline:before {
    font-size: 30px;
  }
  .ion-ios-menu:before {
    font-size: 30px;
  }
}

.modal__content {
  background: #fff;
}
.setting-container {
  position: absolute;
  top: 100px;
  padding: 20px;
  ul {
    padding: 0px;
    li {
      color: $textColor;
      text-decoration: none;
      list-style: none;
      font-size: 18px;
      font-family: 'Roboto';
      text-align: left;
      margin: 10px 10px;
      cursor: pointer;
    }
  }
}
#setting-modal {
  .modal__content {
    background: $bgColor;
  }
}
.setting-title {
  font-family: 'Roboto';
  font-size: 28px;
  color: $textColor;
  letter-spacing: 0;
  text-align: left;
}
.close-setting-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  width: 40px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(206, 206, 206, 0.5);
  height: 40px;
}
</style>
