<template>
  <v-ons-page>
    <tool-bar :option="{ menu: true, title: 'My Wallet', notification: false, back: false }" />
    <div class="credit-background">
      <div class="top"></div>
      <div class="bottom"></div>
      <medical-credit />
    </div>
    <div class="wallet-container">
      <div class="main-action-container">
        <div class="action" @click="$router.push('/scanandpay')">
          <button>
            <v-ons-icon icon="ion-ios-qr-scanner" size="lg"></v-ons-icon>
          </button>
          <p class="main-text">Scan Pay</p>
          <p class="second-text">Pay with credit</p>
        </div>
        <div class="action" @click="$router.push('/submit')">
          <button>
            <v-ons-icon icon="ion-ios-print" size="lg"></v-ons-icon>
          </button>
          <p class="main-text">Submit Claim</p>
          <p class="second-text">Pay cash and claim later</p>
        </div>
      </div>
      <div class="wallet-inner-tab-container">
        <b-card no-body>
          <b-tabs pills card v-model="tabIndex">
            <b-tab title="Overview">
              <Overview />
            </b-tab>
            <b-tab title="Coverage">
              <Coverage />
            </b-tab>
            <b-tab title="Transactions">
              <Transactions />
            </b-tab>
            <b-tab title="View Dependents">
              <Depedent />
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
      <div class="links-container">
        <p>Contact us for help:</p>
        <a href="https://www.yesdoctor.asia/" _target="blank">+95 975 016 9629 OR</a>
        <a href="https://www.yesdoctor.asia/" _target="blank">support@yesdoctor.asia</a>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import utils from '../assets/utils'
import ToolBar from '~/components/ToolBar'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
import Overview from '~/components/Overview'
import Coverage from '~/components/Coverage'
import Transactions from '~/components/Transactions'
import Depedent from '~/components/Depedent'
import MedicalCredit from '~/components/MedicalCredit'
export default {
  components: {
    ToolBar,
    Title,
    Button,
    Overview,
    Coverage,
    Transactions,
    Depedent,
    MedicalCredit
  },
  data: function() {
    return {
      tabIndex: 0
    }
  },
  computed: {
    ...mapGetters({})
  }
}
</script>

<style lang="scss">
.wallet-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}
.wallet-action-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  max-width: 400px;
  margin: 50px auto;
}
.wallet-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #196fd2;
}
.wallet-action ons-icon {
  text-align: center;
}
.white-button {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(206, 206, 206, 0.5);
  border-radius: 27.5px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #0a2463;
  letter-spacing: 0;
  line-height: 20px;
  width: 145px;
  height: 55px;
  border: none;
  outline: none;
  cursor: pointer;
}

.white-button .ons-icon {
  margin-right: 10px;
}
.main-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  background: #ececec;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #57c0f3;
  .action {
    text-align: center;
    cursor: pointer;
    button {
      border: none;
      background: transparent;
      outline: none;
      height: 50px;
      width: 50px;
    }
    .ons-icon {
      font-size: 2.5em;
      color: #196fd2;
    }
  }
  .main-text {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
  }
  .second-text {
    font-size: 12px;
    color: #8a8a8a;
  }
}
.wallet-inner-tab-container {
  .card {
    margin: 0;
    padding: 0;
    height: 200px;
  }
  .card-header {
    padding: 0px;
    .nav-item {
      width: 25%;
    }
  }
  .card-header-pills {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #196fd2;
    background-color: #ffffff;
    border-bottom: 2px solid #196fd2;
  }
  .nav-pills .nav-link {
    border-radius: 0px;
    font-size: 11px;
    padding: 5px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
    color: #656363;
    text-align: center;
  }
}
.links-container {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  p {
    font-size: 12px;
    color: blue;
    margin: 0;
    font-weight: bold;
    color: #196fd2;
  }
  a {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
    color: #196fd2;
  }
}
.credit-background {
  height: 180px;
  .top {
    height: 90px;
    background: #196fd2;
  }
  .bottom {
    height: 90px;
    background: ececec;
  }
}
</style>
