<template>
  <v-ons-page>
    <notifications
      group="new-message"
      position="top left"
      width="80%"
      classes="my-notification-style"
    />
    <v-ons-tabbar
      :tabs="tabs"
      :visible="true"
      :index.sync="activeIndex"
      swipeable
      position="bottom"
    />
  </v-ons-page>
</template>

<script>
import Vue from 'vue'
import 'onsenui/css/onsenui.css'
import 'onsenui/css/onsen-css-components.css'
import VueOnsen from 'vue-onsenui/esm'
import { mapGetters, mapActions } from 'vuex'
import Vuelidate from 'vuelidate'
import Notifications from 'vue-notification'
import utils from '../assets/utils'
import Home from '~/components/Home'
import Appointment from '~/components/Appointment'
import Health from '~/components/Health'
import Chat from '~/components/Chat'
import Wallet from '~/components/Wallet'
import OnsenComponents from '~/components/Onsen'

Vue.use(Vuelidate)
Vue.use(VueOnsen)
Vue.use(Notifications)
Object.values(OnsenComponents).forEach((c) => Vue.component(c.name, c))

export default {
  components: {
    Home,
    Appointment,
    Health,
    Chat,
    Wallet
  },
  data() {
    return {
      activeIndex: 4,
      tabs: [
        {
          icon: this.md() ? null : 'ion-ios-home',
          label: 'Home',
          page: Home,
          key: 'home'
        },
        {
          icon: this.md() ? null : 'ion-ios-calendar',
          label: 'Appointment',
          page: Appointment,
          key: 'appointment'
        },
        {
          icon: this.md() ? null : 'ion-ios-heart',
          label: 'Health',
          page: Health,
          key: 'health'
        },
        {
          icon: this.md() ? null : 'ion-ios-chatboxes',
          label: 'Chat',
          page: Chat,
          key: 'chat'
        },
        {
          icon: this.md() ? null : 'ion-ios-wallet',
          label: 'Wallet',
          page: Wallet,
          key: 'wallet'
        }
      ]
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!from || !from.name) {
        return
      }
      vm.prevRoute = from
      if (to && to.query.tabIndex) {
        vm.activeIndex = parseInt(to.query.tabIndex)
      } else if (from.name.split('-')[0] === 'submit') {
        vm.activeIndex = 4
      }
    })
  },
  methods: {
    ...mapActions({
      addAccount: 'employee/addAccount',
      updateProfile: 'employee/updateProfile',
      addClaim: 'employee/addClaim'
    }),
    md() {
      return this.$ons.platform.isAndroid()
    }
  },
  computed: {
    ...mapGetters({
      getAccount: 'employee/getAccount'
    })
  },
  async mounted() {
    const self = this
    if (!this.getAccount) {
      const account = utils.loadAccount()
      if (account) {
        this.addAccount(account)
        console.log('Account added to vuex store.')
        const userProfile = await utils.getProfile(
          account.userId,
          account.token
        )
        this.updateProfile(userProfile)
      } else {
        this.$router.push('/loading')
      }
    }
  }
}
</script>

<style lang="scss">
$mainColor: #196fd2;
body {
  font-family: 'Roboto';
}
#main {
  height: 100vh;
}
.page__background {
  background-color: #fbfbfb;
}

.tabbar {
  background: #ffffff;
  height: 80px;
  .tabbar__button {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .ons-icon {
      font-size: 1.5em;
    }
  }
}
.toolbar + .page__background {
  top: 75px;
}
.toolbar + .page__background + .page__content {
  top: 75px;
  background: #f7f7f7 !important;
}
.form-text-input {
  border: 1px solid lightgrey;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px;
}
.text-input:invalid {
  border: 1px solid lightgrey;
  background-color: transparent;
  color: #1f1f21;
}
.input-label {
  font-size: 14px;
  width: 300px;
  margin: 10px auto;
  text-align: left;
  font-weight: 700;
}
</style>
