<template >
  <v-ons-page>
    <div id="loading-container">
      <img id="loading-logo" src="../assets/images/logo.png" alt />
      <v-ons-progress-bar indeterminate></v-ons-progress-bar>
    </div>
  </v-ons-page>
</template>

<script>
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import VueOnsen from 'vue-onsenui/esm'
import CONFIG from '../config'
import utils from '../assets/utils'
import OnsenComponents from '~/components/Onsen'
import 'onsenui/css/onsenui.css'
import 'onsenui/css/onsen-css-components.css'

Vue.use(VueOnsen)
Object.values(OnsenComponents).forEach((c) => Vue.component(c.name, c))
export default {
  data() {
    return {}
  },

  computed: {
    ...mapGetters({
      getAccount: 'employee/getAccount'
    })
  },
  methods: {
    ...mapActions({
      addAccount: 'employee/addAccount',
      updateProfile: 'employee/updateProfile',
      addClaim: 'employee/addClaim'
    })
  },
  async mounted() {
    setTimeout(() => {
      if (this.getAccount) {
        this.$router.push('/?tabIndex=0')
      } else {
        this.$router.push('/signin')
      }
    }, 1000)
  }
}
</script>

<style>
#loading-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #0e3379;
}
#loading-container p {
  margin: 20px;
  font-size: 24px;
  font-weight: normal;
}
#loading-container ons-progress-bar {
  width: 70%;
}
#loading-logo {
  width: 185px;
}
</style>
