<template>
  <v-ons-page class="create-account-page">
    <div class="create-account-container">
      <tool-bar :option="{ menu: false, back: true, backUrl: '/signin', title: 'Register'}" />
      <div class="create-account-content">
        <Title text="Register" />
        <p class="text-body">Enter your Full Name, username and password to register</p>
        <form>
          <div class="signin-username-input-container">
            <input
              type="text"
              required
              placeholder="Full Name"
              v-model="fullName"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="signin-username-input-container">
            <input
              type="email"
              required
              placeholder="Email"
              v-model="email"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="signin-username-input-container">
            <input
              type="text"
              required
              placeholder="Username"
              v-model="username"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="signin-username-input-container">
            <input
              type="password"
              required
              placeholder="Password"
              v-model="password"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="signin-username-input-container">
            <input
              type="password"
              required
              placeholder="Confirm Password"
              v-model="confirmPassword"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
        <p class="error-message" v-if="errorMessage">{{ errorMessage }}</p>
          <Button text="Contiue" :onClick="onContinue" />
        </form>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import 'onsenui/css/onsenui.css'
import 'onsenui/css/onsen-css-components.css'
import VueOnsen from 'vue-onsenui/esm'
import { required, minLength, alphaNum } from 'vuelidate/lib/validators'
import { mapActions, mapGetters } from 'vuex'
import utils from '../assets/utils'
import CONFIG from '../config'
import OnsenComponents from '~/components/Onsen'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
import ToolBar from '~/components/ToolBar'

Vue.use(VueOnsen)
Object.values(OnsenComponents).forEach((c) => Vue.component(c.name, c))
export default {
  components: { Title, Button, ToolBar },
  data: function() {
    return {
      fullName: '',
      username: '',
      email: '',
      password: '',
      confirmPassword: '',
      errorMessage: ''
    }
  },
  filters: {
    lowerCase: (str) => {
      if (!str) {
        return
      }
      return str.toLowerCase()
    }
  },
  validations: {
    username: {
      required,
      minLength: minLength(3),
      alphaNum
    },
    password: {
      required,
      minLength: minLength(4)
    }
  },
  computed: {
    isUsernameValid() {
      return !this.$v.username.$invalid
    }
  },
  methods: {
    ...mapActions({
      updateForm: 'form/updateForm'
    }),
    async onContinue(e) {
      e.preventDefault()
      if (!this.fullName || !this.username || !this.email) {
        this.errorMessage = 'Fill all the required information'
        return
      }
      if (this.password !== this.confirmPassword && this.password.length > 0) {
        this.errorMessage = 'Passwords are not same.'
        return
      }
      this.updateForm({
        fullName: this.fullName,
        username: this.username,
        email: this.email,
        password: this.password
      })
      this.$router.push('/signup_info')
    }
  }
}
</script>

<style>
.create-account-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 100px;
}

.create-account-container .already-registered {
  font-size: 13px;
  color: #9a9a9a;
  letter-spacing: -0.14px;
  text-align: center;
  margin-top: 15px;
}
.create-account-container .create-account-content {
  max-width: 600px;
}
.signin-username-input-container {
  margin: 20px auto;
  max-width: 600px;
}
.create-account-container p {
  text-align: left;
}
.create-account-container h3 {
  margin: 30px auto;
}

.signin-username-input-container .input-error-message {
  color: red;
  font-weight: normal !important;
}
.signin-username-input-container .input-success-message {
  color: green;
}
.signin-username-input-container .input-checking-message {
  color: #333;
  font-size: 12px;
  text-align: center;
}
.link-to-import {
  color: #43b8e7 !important;
  cursor: pointer;
}
ons-progress-circular {
  width: 50px;
  height: 50px;
}
.error-message {
  color: red;
  font-size: 13px;
}
</style>
