<template>
  <v-ons-page class="create-account-page">
    <div class="create-account-container">
      <tool-bar :option="{ menu: false, back: false, backUrl: '/', title: 'Sign In'}" />
            <div v-if="loading">Please wait...</div>
      <div v-else class="create-account-content">
        <Title text="Sign In" />
        <p class="text-body">Enter your username and password to sign in</p>
        <div class="signin-username-input-container">
          <input
            type="text"
            placeholder="Username"
            v-model="username"
            class="form-text-input"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
          />
        </div>
        <div class="signin-username-input-container">
          <input
            type="password"
            placeholder="Password"
            v-model="password"
            class="form-text-input"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
          />
        </div>
        <Button text="Sign In" :onClick="onSignIn" />
        <p class="already-registered">
          Don't have an account ? Please register
          <nuxt-link class="link-to-import" to="/signup">here</nuxt-link>.
        </p>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import 'onsenui/css/onsenui.css'
import 'onsenui/css/onsen-css-components.css'
import VueOnsen from 'vue-onsenui/esm'
import { required, minLength, alphaNum } from 'vuelidate/lib/validators'
import { mapActions, mapGetters } from 'vuex'
import utils from '../assets/utils'
import CONFIG from '../config'
import OnsenComponents from '~/components/Onsen'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
import ToolBar from '~/components/ToolBar'

Vue.use(VueOnsen)
Object.values(OnsenComponents).forEach((c) => Vue.component(c.name, c))
export default {
  components: { Title, Button, ToolBar },
  data: function() {
    return {
      username: '',
      password: '',
      loading: false
    }
  },
  computed: {
    isUsernameValid() {
      return !this.$v.username.$invalid
    }
  },
  methods: {
    ...mapActions({
      addAccount: 'employee/addAccount',
      updateProfile: 'employee/updateProfile'
    }),
    async onSignIn() {
      if (!this.username || this.username.length === 0) {
        return
      }
      this.loading = true
      try {
        const response = await axios.post(`${CONFIG.serverUrl}/api/signin`, {
          username: this.username,
          password: this.password
        })
        if (response.status === 200 && response.data.token) {
          const account = {
            userId: response.data.userId,
            token: response.data.token
          }
          this.addAccount(account)
          localStorage.setItem('account', JSON.stringify(account))
          const userProfile = await utils.getProfile(
            account.userId,
            account.token
          )
          this.updateProfile(userProfile)
          this.$router.push('/')
        }
      } catch (e) {
        console.error(e)
        this.loading = false
      }
    }
  }
}
</script>

<style>
.create-account-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 100px;
}

.create-account-container .already-registered {
  font-size: 13px;
  color: #9a9a9a;
  letter-spacing: -0.14px;
  text-align: center;
  margin-top: 15px;
}
.create-account-container .create-account-content {
  max-width: 600px;
}
.signin-username-input-container {
  margin: 20px auto;
  max-width: 600px;
}
.create-account-container p {
  text-align: left;
}
.create-account-container h3 {
  margin: 30px auto;
}

.signin-username-input-container .input-error-message {
  color: red;
  font-weight: normal !important;
}
.signin-username-input-container .input-success-message {
  color: green;
}
.signin-username-input-container .input-checking-message {
  color: #333;
  font-size: 12px;
  text-align: center;
}
.link-to-import {
  color: #43b8e7 !important;
  cursor: pointer;
}
ons-progress-circular {
  width: 50px;
  height: 50px;
}
</style>
