<template>
  <v-ons-page class="create-account-page">
    <div class="create-account-container">
      <tool-bar :option="{ menu: false, back: true, backUrl: '/signup', title: 'Register'}" />
      <div v-if="loading">Please wait...</div>
      <div v-else class="create-account-content">
        <Title text="Company Information" />
        <p class="text-body">Enter your company information</p>
        <form>
          <div class="signin-username-input-container">
            <input
              type="text"
              required
              placeholder="Company Name"
              v-model="companyName"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="signin-username-input-container">
            <input
              type="text"
              required
              placeholder="Company ID"
              v-model="companyId"
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <p class="error-message" v-if="errorMessage">{{ errorMessage }}</p>
          <Button text="Register" :onClick="onRegister" />
        </form>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import 'onsenui/css/onsenui.css'
import 'onsenui/css/onsen-css-components.css'
import VueOnsen from 'vue-onsenui/esm'
import { required, minLength, alphaNum } from 'vuelidate/lib/validators'
import { mapActions, mapGetters } from 'vuex'
import utils from '../assets/utils'
import CONFIG from '../config'
import OnsenComponents from '~/components/Onsen'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
import ToolBar from '~/components/ToolBar'

Vue.use(VueOnsen)
Object.values(OnsenComponents).forEach((c) => Vue.component(c.name, c))
export default {
  components: { Title, Button, ToolBar },
  data: function() {
    return {
      companyName: '',
      companyId: '',
      errorMessage: '',
      loading: false
    }
  },
  computed: {
    ...mapGetters({
      getForm: 'form/getForm'
    }),
    isUsernameValid() {
      return !this.$v.username.$invalid
    },
    isFormValid() {
      return (
        this.getForm.username &&
        this.getForm.email &&
        this.getForm.password &&
        this.getForm.fullName &&
        this.companyName &&
        this.companyId
      )
    }
  },
  mounted: function() {
    if (!this.getForm) {
      this.$router.push('/signup')
    }
    if (
      !this.getForm.username ||
      !this.getForm.email ||
      !this.getForm.password ||
      !this.getForm.fullName
    ) {
      this.$router.push('/signup')
    }
  },
  methods: {
    ...mapActions({
      updateForm: 'form/updateForm',
      addAccount: 'employee/addAccount',
      updateProfile: 'employee/updateProfile'
    }),
    async onRegister(e) {
      e.preventDefault()
      if (!this.companyName || !this.companyId) {
        this.errorMessage = 'Provide required company information.'
      }
      if (this.isFormValid) {
        this.loading = true
        const accountData = {
          username: this.getForm.username,
          email: this.getForm.email,
          fullName: this.getForm.fullName,
          password: this.getForm.password,
          companyId: this.companyId,
          companyName: this.companyName
        }
        try {
          const response = await axios.post(
            `${CONFIG.serverUrl}/api/signup`,
            accountData
          )
          if (response.status === 200 && response.data.token) {
            const account = {
              userId: response.data.userId,
              token: response.data.token
            }
            this.addAccount(account)
            localStorage.setItem('account', JSON.stringify(account))
            const userProfile = await utils.getProfile(
              account.userId,
              account.token
            )
            this.updateProfile(userProfile)
            this.$router.push('/')
          }
        } catch (e) {
          console.error(e)
          this.loading = false
        }
      }
    }
  }
}
</script>

<style>
.create-account-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 100px;
}

.create-account-container .already-registered {
  font-size: 13px;
  color: #9a9a9a;
  letter-spacing: -0.14px;
  text-align: center;
  margin-top: 15px;
}
.create-account-container .create-account-content {
  max-width: 600px;
}
.signin-username-input-container {
  margin: 20px auto;
  max-width: 600px;
}
.create-account-container p {
  text-align: left;
}
.create-account-container h3 {
  margin: 30px auto;
}

.signin-username-input-container .input-error-message {
  color: red;
  font-weight: normal !important;
}
.signin-username-input-container .input-success-message {
  color: green;
}
.signin-username-input-container .input-checking-message {
  color: #333;
  font-size: 12px;
  text-align: center;
}
.link-to-import {
  color: #43b8e7 !important;
  cursor: pointer;
}
ons-progress-circular {
  width: 50px;
  height: 50px;
}
.error-message {
  color: red;
  font-size: 13px;
}
</style>
