<template>
  <v-ons-page>
    <div class="submit-claim-container">
      <tool-bar :option="{ menu: false, back: true, backUrl: '/', title: 'Submit Claim'}" />
      <div class="submit-claim-content">
        <form>
          <div class="text-input-group">
            <label class="input-label">Clinic ID</label>
            <input
              type="text"
              v-model="clinicId"
              required
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="text-input-group">
            <label class="input-label">Receipt ID</label>
            <input
              type="text"
              v-model="receiptId"
              required
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <div class="text-input-group">
            <label class="input-label">Claim Amount</label>
            <input
              type="text"
              v-model="amount"
              required
              class="form-text-input"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
            />
          </div>
          <Button text="Submit Claim" :onClick="onSubmitClaim" />
        </form>
      </div>
    </div>
  </v-ons-page>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import 'onsenui/css/onsenui.css'
import 'onsenui/css/onsen-css-components.css'
import VueOnsen from 'vue-onsenui/esm'
import { required, minLength, alphaNum } from 'vuelidate/lib/validators'
import { mapActions, mapGetters } from 'vuex'
import utils from '../assets/utils'
import CONFIG from '../config'
import OnsenComponents from '~/components/Onsen'
import Title from '~/components/baisc/Title'
import Button from '~/components/baisc/Button'
import ToolBar from '~/components/ToolBar'

Vue.use(VueOnsen)
Object.values(OnsenComponents).forEach((c) => Vue.component(c.name, c))
export default {
  components: { Title, Button, ToolBar },
  data: function() {
    return {
      clinicId: '',
      receiptId: '',
      amount: ''
    }
  },
  computed: {
    ...mapGetters({
      getAccount: 'employee/getAccount',
      getProfile: 'employee/getProfile'
    })
  },
  methods: {
    ...mapActions({
      addAccount: 'employee/addAccount',
      updateProfile: 'employee/updateProfile'
    }),
    async onSubmitClaim(e) {
      const self = this
      e.preventDefault()
      try {
        const claim = {
          companyName: this.getProfile.companyName,
          companyId: this.getProfile.companyId,
          clinicId: this.clinicId,
          receiptId: this.receiptId,
          amount: this.amount,
          userId: this.getAccount.userId,
          claimType: 'CASH'
        }
        const result = await utils.submitClaim(this.getAccount.token, claim)
        setTimeout(async () => {
          const newProfile = await utils.getProfile(
            self.getAccount.userId,
            self.getAccount.token
          )
          self.updateProfile(newProfile)
        }, 5000)
        this.$router.push('/')
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<style lang='scss'>
.submit-claim-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 100px;
}
.submit-claim-content {
  width: 300px;
  height: 100%;
  margin: 20px auto;
  position: relative;
  top: 75px;
  form {
    .input-text-group {
      display: flex;
      flex-direction: column;
    }
  }
}
</style>
